*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

header {
  background:rgb(133, 18, 18);
}

/* HEADER & NAV */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.title {
  color: #fcb016;
  text-shadow: 2px 2px rgb(56, 56, 58);
  font-style: italic;
  text-align: center;
  /* margin: auto;
  width: 60%; */
  display: inline-block;
}

.img-logo {
  max-width: 100px;
  max-height: 100px;
}

.logo {
  margin: 0;
}

div.nav-info {
  margin-top: auto;
  margin-bottom: auto;
}

div.nav-button {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

input#menu {
    display: none;
}

i.fas.fa-bars.nav-icon {
  font-size: 3.0rem;
}

.nav-info-text {
  display: block;
  color: #fff;
}

/* removes bullets and padding to help links stay flush with border */
nav ul {
  list-style: none;
  padding: 0;
  background-color: #fff;
}

/* links only centered after display block */
nav a {
  text-decoration: none;
  text-align: center;
  color: #0b7b40;
  display: block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

nav a:hover {
  background-color: rgb(230, 176, 1);
  text-transform: uppercase;
}

/* MAIN INTRO */
.main-title {
  color: #fcb016;
  text-shadow: 2px 2px rgb(56, 56, 58);
  font-style: italic;
  text-align: center;
}

.main-about-text {
  color: rgb(163, 33, 33);
  line-height: 1.45;
  text-align: center;
  width: 80%;
  margin: 0 auto 10px;
}

.main-photo {
  width: 100%;
  margin-top: 19.92px;
}

.cx-testimony {
  color: rgb(163, 33, 33);
  line-height: 1.45;
  text-align: center;
  width: 80%;
  margin: 0 auto 10px;
}

.cx-name {
  text-align: right;
}

/* FEATURED */
.feature {
  width: 100%;
  background-color: #ebebeb;
  border-left: 8px solid #007336;
  border-bottom: 8px solid #007336;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.feature h2 {
  text-transform: uppercase;
  color: #757575;
}

.feature-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

span {
  font-weight: 700;
}

/* FOOTER */
footer {
  background-color: #007336;
}

.img-icon {
  max-width: 100px;
  max-height: 100px;
}

.footer-content {
  text-align: center;
}

.footer-title {
  margin: 0 0 10px 0;
  color: #fcb016;
  text-shadow: 2px 2px rgb(56, 56, 58);
  font-style: italic;
}

.footer-text {
  margin: 0;
  color: #fff;
}

.social-media {
  font-size: 2.25rem;
  margin: 15px 0;
}

#twitter-icon {
  color: #1da1f2;
}

#facebook-icon {
  color: #3b5998;
}

/* FLEX STYLES */
/* mobile screen (apply at and below 767) */
@media screen and (max-width: 767px) {
  .container {
    padding: 10px; 
  }

  .header-content {
    text-align: center;
  }

  .title {
    margin: auto;
    width: 67%;
  }

  li.nav-item {
    border-bottom: 4px solid rgba(124, 124, 124, 0.507);
  }

  .nav-info-text {
    display: none;
  }

  .dropdown-menu {
    max-height: 0;
    overflow: hidden;
  }

  i.fas.fa-bars.nav-icon {
    cursor: pointer;
    vertical-align: top;
  }

  /* toggle nav button */
  input:checked ~ .dropdown-menu {
    max-height: 100%;
  }

  .feature {
    padding-top: 5px;
  }
}

/* tablet screen (apply at and above 768) */
@media screen and (min-width: 768px) {
  .header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;
  }

  nav ul {
    justify-content: space-around;
    display: flex;
  }

  nav.dropdown-menu {
    max-width: 960px;
    width: 100%;
  }

  i.fas.fa-bars.nav-icon {
    display: none;
  }

  .intro {
    display: flex;
    padding: 8px;
  }

  .main-text {
    width: 50%;
  }

  .main-support-items {
    width: 50%;
  }

  .main-photo {
    height: 50%;
  }

  .featured-content {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
  }

  .feature {
    width: 32%;
  }
}

